
<div id="updateperson">
<%= form_tag @people, url: person_path(@people), :method => :put do %>
    <%= label :people, :first_name, 'First name' %>
    <%= text_field :people, :first_name  %>
    </br>
    
    <%= label :people, :last_name, 'Last name' %>
    <%= text_field :people, :last_name  %>
    </br>
    <%= label :people, :description, 'Description' %>
    <%= text_field :people, :description %>
    </br>

    <%= submit_tag 'Update'%>
    <% end %>
</div>



