<!-- div for styles -->
<div id="page_content">
<h1 style="color: black">People</h1>
        <table style="width:100%">
            <tr>
                <div class="tbl-header">
                    <th>Profile</th>
                    <th>Username</th>
                    <th>Description</th>
                    <th>Delete</th>
                </div>
            </tr>
            
    
<%if @people
  @people.each do |t| %>

        
        <tr>
         <td>  <a href="<%= people_path %>/<%= t.id %>"><%= t.name %> </a> </td>
         <td><%= t.username %>   </td>
         <td> <%= t.description%></td>
         <td><%= button_to "Delete", t, :method => :delete %></td>
     </tr>
   
 <%end%> 
 
 <%end%>
</table>

<br>

<br>
    
        <h2>Create new person</h2>
        <%= form_tag people_path, class: "newPerson", :method => :post do %>
            <%= label :people, :name, 'Person' %>
            <%= text_field :people, :name %>
            
            <%= submit_tag 'Add'%>
            <% end %>
            </div>

</div>