
<div id="page_content">
 
<div class="text-center">
<div id="profiletop">
<h2>Profile</h2>
</br>
<h1> <%= @people.first_name %> <%= @people.last_name%> </h1>
</div>
</div>


</br>
</br>
</br>
</br>
</br>
</br>

<div class='people_info'>
<h2>Details about <%= @people.first_name%></h2>
<p style="color: black"><%= @people.description%></p>
</div>

<div class='middle'>
    <%if @people == Person.find(session[:user_id])%>
<h2>Update Profile</h2>
<div id="updateperson">
<%= form_tag person_path, :method => :put do %>
    <%= label :people, :first_name, 'First name' %>
    <%= text_field :people, :first_name  %>
    </br>
    
    <%= label :people, :last_name, 'Last name' %>
    <%= text_field :people, :last_name  %>
    </br>
    <%= label :people, :description, 'Description' %>
    <%= text_field :people, :description %>
    </br>
    
    
    
    <%= submit_tag 'Update'%>
    <% end %>
    </div>

<%end%>
</div>


<div class="assigned">
<h2>Chores Assigned</h2>
<%Chore.all.each do |chore|%>
    <%if chore.person_assigned == @people.first_name%>
        <li><%=chore.task%>, Status: <%=chores_logic(chore)%></li>
    <%end%>
<%end%>
</div>

</br>
</br>
<div id="linkback">
<%= link_to 'Back to profile list', people_path %>
</div>

</div>