<!-- Added in header and horizontal menu -->
<div id="header">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="/chores">ménage</a></h1>
          <h2>an easy way to divide chores</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Chores</a></li>
          <li><a href="#">Household</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="page_content">


<h2> Details about <%= @people.name %> </h2>
 <ul>
  <li>Username:
   <%= @people.username %> </li>
  <li>Description:
    <%= @people.description %>
  <li>household:
    <%= @people.household %> </li>
</ul>
<br>

<br>
<h2>Update people</h2>
<%= form_tag person_path, :method => :put do %>
    <%= label :people, :name, 'Name' %>
    <%= text_field :people, :name  %>
    
    <%= label :people, :description, 'Description' %>
    <%= text_field :people, :description %>
    
    <%= label :people, :household, 'Household' %>
    <%= select :people, :household, ['home1', 'home2', 'home3','other']%>
    
    
    <%= submit_tag 'Update'%>
    <% end %>

<%= link_to 'Back to chores list', chores_path %>

</div>