
<div id="page_content">
 
<div class="text-center">
<div id="profiletop">
<h2>Profile</h2>
</div>
</div>


</br>
</br>
</br>


<div class="row">
    <div class="card" style="width: 300px;">
        <img class="card-img-top" src="/assets/default-user.png" alt="Card image cap"/>
    </div>
    
    <div class="card" style="width: 650px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="text-align:center; color:black; padding-top: 15%; padding-bottom: 15%; font-size: 32px;"> <%= @people.first_name %> <%= @people.last_name%> </h1>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-4" style="text-align:center;">
                <p>username</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p>household</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p>chore preferences</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4" style="text-align:center;">
                <p style="font-size: 28px;"><%= @people.username%></p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p style="font-size: 28px;"><%= @people.household_id%></p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p style="font-size: 28px;"><%= @people.description%></p>
            </div>
        </div>
        
    </div>
</div>

</br>



<div class="row">
    <div class="card col-md-6 offset-md-3">
        <%if @people == Person.find(session[:user_id])%>
        <h2 style="color:black;">Update Profile</h2>
        <div id="updateperson">
        <%= form_tag person_path, :method => :put do %>
            <%= label :people, :first_name, 'First name' %>
            <%= text_field :people, :first_name  %>
            </br>
            
            <%= label :people, :last_name, 'Last name' %>
            <%= text_field :people, :last_name  %>
            </br>
            <%= label :people, :description, 'Chore preferences' %>
            <%= text_field :people, :description %>
            </br>
            
            
            
            <%= submit_tag 'Update'%>
            <% end %>
        </div>
        
        <%end%>
    </div>
        
</div>


</br>
</br>
<div id="linkback">
<%= link_to 'Back to profile list', people_path %>
</div>

</div>