<div class="peopleWrapper">
    <div id="page_content">
        
        <!--Profile header-->
        <div class="text-center">
            <div id="profiletop">
                <h2>Profile</h2>
            </div>
        </div>
        
        </br>
        </br>
        </br>
        
        <!--Display person's content-->
        <div class="row">
            
            <!--User profile image-->
            <div class="card" style="width: 350px; background: #DEFFED;">
                    <img class="card-img-top" src="/assets/user.jpg" alt="Card image cap"/>
            </div>
            
            <div class="card" style="width: 620px;">
                <!--Display username-->
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h1 style="text-align:center; color:black; padding-top: 15%; padding-bottom: 15%; font-size: 32px;"> <%= @people.first_name %> <%= @people.last_name%> </h1>
                    </div>
                </div>
                
                <!--content headers-->
                <div class="row">
                    <div class="col-md-4" style="text-align:center;">
                        <h3>username:</h3>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <h3>household:</h3>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <h3>chore list:</h3>
                    </div>
                </div>
                
                <!--Display profile content-->
                <div class="row">
                    <div class="col-md-4" style="text-align:center;">
                        <p style="font-size: 22px;"><%= @people.username%></p>
                    </div>
                    <div class="col-md-4" style="text-align:center;">
                        <p style="font-size: 22px;"><%if @people.household_id%>
                            <%=Household.find(@people.household_id).name%><%end%>
                        </p>
                    </div>
                    <div class="col-md-4" style="text-align:center; padding-right: 15px;">
                        <p style="font-size: 12px;"><%Chore.all.each do |chore|%>
                            <%if chore.person_assigned == @people.first_name%>
                                <li><%=chore.task%> <span class="circle" style = <%="color:#{chores_logic(chore)}"%>></span></li>
                            <%end%>
                        <%end%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
    </br>
    </br>
    <!--Link back to my household-->
    <div id="linkback">
        <%= link_to 'Back to my house', people_path %>
    </div>
</div>