<!-- Log in view. User is prompted for username and password upon log in-->

    <!--Creates house animation surrounding the log in fields*/-->
        <svg id='house' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 415'>" +
  "<g fill='#FFFCF2'>" +
    "<path class='house' stroke='#FFFCF2' fill='none' d='M158.465 2.605L4.752 136.858c-4.471 4.221-5.967 10.862-3.715 16.529 2.094 5.26 7.087 8.659 12.727 8.659h25.868V314.34h59.83v-92.464h33.793l.114 92.464h140.143V162.046h29.692c5.559 0 10.53-3.443 12.646-8.762 2.355-5.912.859-13.01-3.971-17.568L158.465 2.605zm93.291 137.685v152.294h-96.658l-.114-92.464H77.706v92.464H61.389V140.29H33.883L158.509 31.443 283.971 140.29h-32.215z'/>"+
  "</g>" +
"</svg>


<div id="signupWrapper">
    <div class="box">
        <div class="col-md-5">
            <a href="/access/landing" style="color:white;"><span style="font-size: 30px; margin-top: 5%;" class="glyphicon glyphicon-circle-arrow-left"></span></a>
        </div>
        <h2 style="color:white; margin-top: 5%">Login</h2>
        <%= form_tag(access_attempt_login_path, :class => 'regForm', :method => :post) do %>
            <%= label_tag(:username, nil, class: 'accessInput custom-control') %>
            <%= text_field_tag(:username, params[:username], class: 'accessInput custom-control', required: true) %>
            <%= label_tag(:password, nil, class: 'accessInput custom-control') %>
            <%= password_field_tag(:password, nil, class: 'accessInput custom-control', required: true) %>
            <%= button_tag(type: 'submit',value: "submit", class: "submitBtn btn btn-primary", style: "margin-left: 55%; margin-top: 5%") do %>
                <span class="glyphicon glyphicon-ok"></span> 
            <% end %>
        <% end %>
    </div>
</div>