<div id="page_content">
    
        <h2>Join</h2>
        <%= form_tag people_path, class: "newPerson", :method => :post do %>
                <%= label :people, :name, 'Name' %>
                <%= text_field :people, :name %>
                <br>
                <%= label :people, :username, 'Username' %>
                <%= text_field :people, :username %>
                <br>
                <%= label :people, :password, 'Password' %>
                <%= text_field :people, :password %>
                <br>
                <br>
                <%= submit_tag 'Submit'%>
                <% end %>

    
</div>