<div id="page_content">
    
        <h2>Join</h2>
        <%= form_tag people_path, class: "newPerson", :method => :post do %>
                <%= label :people, :first_name, 'First name:' %>
                <%= text_field :people, :first_name %>
                <br>
                <br>
                <%= label :people, :last_name, 'Last name:' %>
                <%= text_field :people, :last_name %>
                <br>
                <br>
                <%= label :people, :username, 'Username:' %>
                <%= text_field :people, :username %>
                <br>
                <br>
                <%= label :people, :password, 'Password:' %>
                <%= password_field :people, :password %>
                <br>
                <br>
                <%= label :people, :password, 'Confirm Password:'%>
                <%= password_field :people, :password_confirmation %>
                <br>
                <br>
                <%= submit_tag 'Submit'%>
                <% end %>

    
</div>