<table summary="Chore form fields">
    <tr>
        <td><%= label :chore, :task, 'Chore' %></td>
        <td><%= text_field :chore, :task  %></td>
    </tr>
    <tr>  
        <td><%= label :chore, :priority, 'Priority' %></td>
        <td><%= select :chore, :priority, ['low', 'moderate', 'high'] %></td>
    </tr> 
    <tr>
        
        <td><%= label :chore, :person_assigned, 'Person Assigned' %></td>
        <td><%= collection_select(:person, :person_assigned, people_of_household, :first_name, :first_name) %></td>

    </tr>
        
</table>

