<!-- Added in header and horizontal menu -->
<div id="header">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="#">ménage</a></h1>
          <h2>a distributed chores list</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Chores</a></li>
          <li><a href="#">Household</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<!-- div for styles -->
<div id="page_content">
    
<h1 style="color: red">Pending Chores</h1>
<table style="width:75%">
    <tr>
        <th>Chore</th>
        <th>Priority</th>
        <th>Person Assigned</th>
        <th>Delete</th>
    </tr>
<%if @chores
  @chores.each do |t| %>

        
        <tr>
         <td>  <a href="<%= chores_path %>/<%= t.id %>"><%= t.task %> </a> </td>
         <td><%= t.priority %>   </td>
         <td> <%= t.person_assigned%></td>
         <td><%= button_to "delete", t, :method => :delete %></td>
     </tr>
   
 <%end 
 
 end%>
</table>
<br>

<br>
<h2>Create new chore</h2>
<%= form_tag chores_path, :method => :post do %>
    <%= label :chore, :task, 'Chore' %>
    <%= text_field :chore, :task  %>
    
    <%= label :chore, :priority, 'Priority' %>
    <%= select :chore, :priority, ['low', 'moderate', 'high'] %>
    
    <%= label :chore, :person_assigned, 'Person Assigned' %>
    <%= select :chore, :person_assigned, ['Amy', 'Bryce', 'Erin', 'Mackenna', 'Randomized']%>
    
    <%= submit_tag 'Add'%>
    <% end %>
