<!-- div for styles -->
<div id="page_content">
<h1 style="color: black">Pending Chores</h1>
        <table style="width:100%">
            <tr>
                <div class="tbl-header">
                    <th>Chore</th>
                    <th>Priority</th>
                    <th>Person Assigned</th>
                    <th>Complete</th>
                </div>
            </tr>
            
    
<%if @chores
  @chores.each do |t| %>

        
        <tr>
         <td>  <a href="<%= chores_path %>/<%= t.id %>"><%= t.task %> </a> </td>
         <td><%= t.priority %>   </td>
         <td> <%= t.person_assigned%></td>
         <td><%= button_to "Completed", t, :method => :delete %></td>
     </tr>
   
 <%end%> 
 
 <%end%>
</table>

<br>

<br>
    
        <h2>Create new chore</h2>
        <%= form_tag chores_path, class: "newChore", :method => :post do |f|%>
            <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
            
            <%= submit_tag 'Add'%>
            <% end %>
            </div>

</div>