<!-- div for styles -->
<div id="page_content">
<%ses_id=session[:user_id]
ses_house_id=Person.find(ses_id).household_id
if ses_house_id!=nil%>
<h2>Create new chore</h2>
        <%= form_tag chores_path, class: "newChore", :method => :post do |f|%>
            <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
            
            <%= submit_tag 'Add'%>
            <% end %>
            
<br>
<div id="tableWrapper">
   <div id="tableScroll">
    <table class="table table-dark table-hover table-fixed">
        <thead>
            <tr>
                <th class="col-md-3">Chore</th>
                <th class="col-md-3">Priority</th>
                <th class="col-md-3">Person Assigned</th>
                <th class="col-md-3">Complete</th>
            </tr>
        </thead>
        <tbody>
        <%if @chores
            @chores.each do |t| 
              if t.household_id==ses_house_id%>
            <tr>
             <td class="col-md-3"><a href="<%= chores_path %>/<%= t.id %>"><%= t.task %> </a> </td>
             <td class="col-md-3"><%= t.priority %>   </td>
             <td class="col-md-3"><%= t.person_assigned%></td>
             <td class="col-md-3"><%= button_to "Completed", t, :method => :delete %></td>
             </tr>
           <%end%>
     <%end%> 
    <%end%>
       <%= will_paginate @chores, previous_label: h("<"), next_label: h(">") %>
        </tbody>
   
    </table>
</div>



</div>
</div>  
        
<%else%>
   <h2><%= link_to "Please join or create a household first", households_path %></h2>
<%end%>
</div>