<!-- div for styles -->
<div id="page_content">
<%ses_id=session[:user_id]
ses_house_id=Person.find(ses_id).household_id
if ses_house_id!=nil%>
<h2>Create new chore</h2>
        <%= form_tag chores_path, class: "newChore", :method => :post do |f|%>
            <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
            
            <%= submit_tag 'Add'%>
            <% end %>
            
</br>

<h1 style="color: black">Pending Chores for <%=Household.find(ses_house_id).name %></h1>
        <table style="width:100%">
            <tr>
                <div class="tbl-header">
                    <th>Chore</th>
                    <th>Priority</th>
                    <th>Person Assigned</th>
                    <th>Complete</th>
                </div>
            </tr>
<%if @chores
  @chores.each do |t| 
      if t.household_id==ses_house_id%>
        
        <tr>
         <td><a href="<%= chores_path %>/<%= t.id %>"><%= t.task %> </a> </td>
         <td><%= t.priority %>   </td>
         <td><%= t.person_assigned%></td>
         <td><%= button_to "Completed", t, :method => :delete %></td>
     </tr>
       <%end%>
 <%end%> 
<%end%>

<%= will_paginate @chores, previous_label: h("<"), next_label: h(">") %>

</table>

</div>  
        
<%else%>
   <h2><%= link_to "Please join or create a household first", households_path %></h2>
<%end%>
</div>