
<h1>Chores</h1>
<table>
<%if @chores
  @chores.each do |t| %>

        <tr>
         <td>  <a href="<%= chores_path %>/<%= t.id %>"><%= t.task %> </a> </td>
         <td><%= t.created_at %>   </td>
         <td><%= button_to "delete", t, :method => :delete %></td>
     </tr>
   
 <%end 
 
 end%>
</table>
<br>

<!--<div class="create">-->
<!--  <div class="container">-->
    
    <!-- Your code here -->
<!--    <%= form_for :chore do |f| %>  -->
<!--  <div class="field"> -->
<!--    <%= f.label :chore %><br> -->
<!--    <%= f.text_area :task %><br>-->
<!--    <%= f.label :priority%><br>-->
<!--    <%= f.text_area :priority%><br>-->
<!--  </div> -->
<!--  <div class="actions"> -->
<!--    <%= f.submit "Create" %> -->
<!--  </div> -->
<br>
<h2>Create new chore</h2>
<%= form_tag chores_path, :method => :post do %>
    <%= label :chore, :task, 'Chore' %>
    <%= text_field :chore, :task  %>
    
    <%= label :chore, :priority, 'Priority' %>
    <%= select :chore, :priority, ['low', 'moderate', 'high'] %>
    
    
    <%= submit_tag 'Add'%>
    <% end %>
<% end %>