<!-- Added in header and horizontal menu -->
<div id="page_content">



<div class="row">
    <div class="card" style="width: 350px;">
        <img class="card-img-top" src="/assets/chore.jpg"
         alt="Card image cap"/>

        
    </div>
    
    <div class="card" style="width: 620px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 style="text-align:center; color:black; padding-top: 15%; padding-bottom: 15%; font-size: 32px;"> Details about <%= @chores.task %> </h1>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-4" style="text-align:center;">
                <p>Last completed:</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p>Status:</p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p>Priority:</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4" style="text-align:center;">
                <p style="font-size: 22px;"><% if @chores.last_accomplished != nil%>
                   <%= Time.at(@chores.last_accomplished).in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y at %I:%M %p")  %>
                <%else%>
                    <%=Time.at(@chores.created_at).in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y at %I:%M %p")%>
                <%end%></p>
            </div>
            <div class="col-md-4" style="text-align:center;">
                <p style="font-size: 22px;"><span class="bigcircle", style = <%="color:#{chores_logic(@chores)}; font-size:60px!important;"%>></span></p>
            </div>
            <div class="col-md-4" style="text-align:center; padding-right: 15px;">
                <p style="font-size: 22px;"><%= @chores.priority%></p>
            </div>
        </div>
        <div class = "row">
            <div class="col md-6 offset-md-3">
                <p style="font-size: 22px;">Person assigned: <%= @chores.person_assigned %></p>
            </div>
        </div>
        
    </div>
</div>

</br>



<div class="row">
    <div class="card col-md-6 offset-md-3">

        <h2 style="color:black;">Update Chore</h2>
        <div id="updateperson">
        <%= form_tag chore_path, :method => :put do |f| %>
            <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
            
            <%= submit_tag 'Update'%>
            <% end %>
        </div>
        
    </div>
        
</div>


</br>
</br>
<div id="linkback">
<%= link_to 'Back to chore list', chores_path %>
</div>

</div>
