<!-- Added in header and horizontal menu -->
<div id="page_content">


<h2> Details about <%= @chores.task %> </h2>
 <ul>
  <li>Status:
   <%= @chores.status %> </li>
  <li>Priority:
    <%= @chores.priority %>
  <li>Person Assigned:
    <%= @chores.person_assigned %> </li>
</ul>

<br>
<h2>Update chore</h2>
<%= form_tag chore_path, :method => :put do |f| %>
    <%= render(:partial => 'chore_form', :locals => {:f => f}) %>
    <%= submit_tag 'Update'%>
    <% end %>

<%= link_to 'Back to chores list', chores_path %>

</div>