<!DOCTYPE html>
<html>
<head>
  <title>Menage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  <!--<link href="css/main.css" rel="stylesheet"> -->
</head>
<body>
<% if current_page?(controller: 'access', action: 'landing') %>
    <%= render 'layouts/home_header' %>
<% elsif (current_page?(controller: 'access', action: 'login')) || (current_page?(controller: 'access', action: 'attempt_login')) %>
    <%= nil %>
<% elsif (current_page?(controller: 'people', action: 'signup')) %>
    <%= nil%>
<% else %>
    <%= render 'layouts/header' %>
<% end %>

<%= yield %>
<%if !current_page?(controller: 'access', action: 'landing') || !current_page?(controller: 'people', action: 'signup')  %>
<div style= "font-size: 24px; color: red;"><%= notice %> </div>
<%end%>
</body>
</html>
