<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="main.css" type="text/css" />
  <script type="text/javascript">
			<!--
			    function toggle_visibility(id) {
			       var e = document.getElementById(id);
			       if(e.style.display == 'block')
			          e.style.display = 'none';
			       else
			          e.style.display = 'block';
			    }
			//-->
	</script>
	<style type="text/css">
	.black {color:#000000;}
	</style>
</head>
<body>
<% if current_page?(controller: 'access', action: 'landing') %>
    <%= render 'layouts/home_header' %>
<% elsif (current_page?(controller: 'access', action: 'login')) || (current_page?(controller: 'access', action: 'attempt_login')) || (current_page?(controller: 'people', action: 'signup')) %>
    <%= nil %>
<% else %>
    <%= render 'layouts/header' %>
    <div id= "popup-box" class="popup-position" style="color:black">
		  <div id="popup-wrapper" style="color:black">
		    <div id="popup-container" style="color:black">
		      <h3>Menage Tutorial </h3>
		      <video src="assets/menage_tutorial.mp4" width="700" height="500" controls>
		      </video>
		      <p><a href="javascript:void(0)" onclick="toggle_visibility('popup-box');">Back to Menage</a></p>
		 </div>
		</div>
		</div>
		<div id="wrapper">
		  <p><a href="javascript:void(0)" onclick="toggle_visibility('popup-box');">What is Menage?</a></p>
		</div>
<% end %>

<div class="alert" style= "font-size: 24px; color: #ffff00; text-align: center; margin-top: 20px;"><%= notice %> </div>
<%= yield %>
<%if !current_page?(controller: 'access', action: 'landing') || !current_page?(controller: 'people', action: 'signup')  %>

<%end%>

</body>
</html>
