<!DOCTYPE html>
<html>
<head>
  <title>Menage</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link href="css/main.css" rel="stylesheet"> -->
</head>
<body>
<% if current_page?(controller: 'access', action: 'landing') %>
    <%= render 'layouts/home_header' %>
<% elsif (current_page?(controller: 'access', action: 'reg')) || (current_page?(controller: 'access', action: 'login')) %>
    <%= render 'layouts/signup_header' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>


<%= yield %>
<div id="page_content"
<div style= "font-size: 24px; color: red;"><%= notice %> </div>
</div>

</body>
</html>
