<!DOCTYPE html>
<html>
<head>
  <title>Menage</title>
  <div style= "background-color:white;"><%= notice %> </div>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link href="css/main.css" rel="stylesheet"> -->
</head>
<body>
  
  <div id="header">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="/chores">ménage</a></h1>
          <h2>an easy way to divide chores</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <li><a href="/chores">Home</a></li>
          <li><a href="/chores">Chores</a></li>
          <li><a href="#">Household</a></li>
          <li><a href="/people">Person</a></li>
          <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<%= yield %>

</body>
</html>
