<!DOCTYPE html>
<html>
<head>
  <title>Menage</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link href="css/main.css" rel="stylesheet"> -->
</head>
<body>
<div id="header">
    <div id="logo">
        <div id="logo_text">
          <h1><a href="/access/landing">ménage</a></h1>
          <h2>an easy way to divide chores</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <li><a href="/access/landing">Home</a></li>
          <li><a href="/chores">Chores</a></li>
          <li><a href="/households">Household</a></li>
          <li><a href="/people">Profile</a></li>
          <li><a href="/access/reg">Sign up</a></li>
          <li><a href="/access/login">Login</a></li>
          <li><a href="/access/logout">Logout</a></li>
        </ul>
    </div>
</div>

<%= yield %>
<div id="page_content"
<div style= "font-size: 24px; color: red;"><%= notice %> </div>
</div>

</body>
</html>
