<!-- div for styles -->
<div id="page_content">
<h1>Households</h1>
        <table style="width:100%">
            <tr>
                <div class="tbl-header">
                    <th>Households</th>
                    <th>Members of Household</th>
                    <th>Join Household</th>
                </div>
            </tr>

    
<%if @households
  @households.each do |t| %>
        <tr>
         <td><a href="<%= households_path %>/<%= t.id %>"><%= t.name %> </a> </td>
         <td><% people = people_of_any_household(t) %> 
             <% people.each do |p| %> <%= p.first_name%> <%= p.last_name%>,
         <% end %></td>
         <td><%= link_to "Join", person_path(:id => session[:user_id], people: {:household_id => t.id}), :class => "button", :method => "PUT" %>
  </td>
     </tr>
   
 <%end%> 
 <%end%>
</table>

<br>

<%= will_paginate @households, previous_label: h("<"), next_label: h(">") %>

<h2>Add Household</h2>
        <%= form_tag households_path, class: "newHousehold", :method => :post do %>
                <%= label :households, :name, 'Name:' %>
                <%= text_field :households, :name %>
                <%= submit_tag 'Submit'%>
                <% end %>

</div>

